* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.85rem;
    color: rgb(5, 0, 0);
}

.container-pai {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid #333333fd;
    gap: 5px;
}

.container-button{
    width: 160px;
    padding: 2.5px;
    display: flex;
    justify-content: space-between;
    
}

.btn{
    border-radius: 2px;
    background-color: #D9D9D9;
    cursor: pointer;
    padding: 2px;
    color: black;
}

.input-text{
    background-color: #F3F3F3;
    border-radius: 1px;
    border: rgb(41, 39, 56);
    border: 1px solid #333333;
    margin-top: -8px;

}

.cabecalho-conteudo {
    display: flex;
    align-items: center;
    gap: 6px;         /* diminui o espaço entre logo e texto */
    flex-direction: row-reverse;
    padding: 4px;     /* diminui o espaço abaixo do cabeçalho */
}

.logo{
    width: 25px;
    height: auto;
}

/* Rodapé */
.rodape{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.link{
    color: blue;
}

.result{
    width: 157.5px;
    height: 68px;
    background-color: #F3F3F3;
    border: 0.5px solid #333333af;
    padding: 20px;
    justify-content: start;
    padding: 5px;
}
.result p {
    color: black;
}